---
import '~/assets/styles/index.scss'
const { origin } = Astro.url
const { title = 'Jiakun Zhao', description = "Jiakun Zhao's personal website.", author = 'Jiakun Zhao', og_image = 'icon.jpg', date } = Astro.props.frontmatter
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <title>{title}</title>
        <meta property="og:title" content={title} />
        <meta name="author" content={author} />
        <meta name="description" content={description} />
        <meta property="og:description" content={description} />
        <meta property="og:image" content={`${origin}/og-image/${og_image}`} />
        <meta property="og:url" content={origin} />
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:creator" content="@zhaojiakun_cn" />
        <script is:inline>
            var _hmt = _hmt || []
            ;(function () {
                var hm = document.createElement('script')
                hm.src = 'https://hm.baidu.com/hm.js?31461ca186316e6e1d22fe0e57687243'
                var s = document.getElementsByTagName('script')[0]
                s.parentNode.insertBefore(hm, s)
            })()
        </script>
    </head>
    <body>
        <header>
            <h1>{title}</h1>
            {date && <p>{date}</p>}
        </header>
        <main>
            <slot />
        </main>
        <footer>
            <p>Jiakun Zhao © 2023</p>
        </footer>
        <script>
            if (navigator.userAgent.toLowerCase().includes('micromessenger')) {
                const title = document.title
                const observer = new IntersectionObserver(([{ intersectionRatio }]) => {
                    document.title = intersectionRatio ? '' : title
                })
                observer.observe(document.querySelector('body header h1')!)
            }
        </script>
    </body>
</html>
